<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="/assets/master.css" type="text/css">
</head>
<body class="loginpage">
  <div class="container">
    <div class="loginlogo">
      <img src="/assets/logo.png" alt="Logo">
    </div>
  <form action="/registered" method="post" class="login-form">
    <h2 class="form-title">Sign Up</h2>
    <input type="text" name="username" class="input-field" placeholder="Username" required><br>
    <input type="password" name="password" class="input-field" placeholder="Password" required><br>
    <input type="submit" value="Sign Up" class="submit-button">
  </form>
</body>
</html>
