<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" href="\list.css">

<%- include('header') %>
    <body>
        <!-- <div class="container">
            <div class="col-12 text-center">
                <h1>Shopping List</h1>
            </div>
            <div class="shopping-list">
                <div class="row">
                    <input type="text" placeholder="Add your text" id="input-box">
                    <button>Add</button>
                </div>
                <ul id="list-container">
                    <li>List 1</li>
                    <li>List 1</li>
                    <li>List 1</li>
                </ul>
            </div>
        </div> -->

        <div class="container" id="shopping">
            <div class="col-12 text-center">
                <h1>Shopping List</h1>
                <div class="d-flex justify-content-center">
                    <input type="text" placeholder="Add your text" id="input-box">
                    <form action="/user/add-list" method="post">
                        <button type="submit" name="add_list" class="btn btn-success">Add</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include('footer') %>
    </body>
</html>