/*shoppinglist.ejs CSS*/
#shopping{
    margin-top: 2rem;
    margin-bottom: 2rem;
}



/*mealplanner.ejs CSS*/
.container.mt-4{
    margin-bottom: 2rem;
}

td#dates{
    padding: 2.5rem;
}

#dates:hover{
    background-color: lightgray;
    cursor:pointer;
    /* height: 10px;
    width: 10px; */
}


.card{
    margin: 2rem;
    position: relative;
    left: 5%;
}

.close {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #aaa; /* Set the color of the close button icon */
    cursor: pointer;
    /* padding: 0; Remove padding to make it smaller */
}

.close:hover {
    color: #333; /* Change color on hover */
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make it fill the container horizontally */
    height: 100%; /* Make it fill the container vertically */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    z-index: 1; /* Ensure the popup is on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}