/* Header Styling */
#menu__toggle {
    opacity: 0;
}
/* #menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
} */
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 25px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  top: 5px;
  width: 100%;
  height: 3px;
  background-color: #7DBD42;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
/*footer*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.footercontainer{
  background-color: #212329;
  padding: 64px 0 64px 0;
}

.footer{
  width: 80%;
  height: 35vh;
  background-color: #212329;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footerhead{
  display: flex;
  flex-direction: column;
  margin-right: 64px;
}

.footerhead h2{
  margin-bottom: 32px;
}

.footerhead a{
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
  cursor: pointer;
}

.footerhead a:hover{
  color: red;
  transition: 0.5s ease-out;
}

.footer-email h2{
  margin-bottom: 32px;
}

#footer-email{
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 8px;
  font-size: 16px;
  margin-bottom: 16px;
}

#footer-email::placeholder{
  color: #b1b1b1;
}

#footer-email-btn{
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #F9423D;
  outline: none;
  border: none;
  color: #FFFF;
  font-size: 16px;
}

#footer-email-btn:hover{
  cursor: pointer;
  background-color: #337AF1;
  transition: all 0.4s ease-out;
}

/* Login page */

.errorMessage{
  text-align: center;
  color: red;
  padding:5px;
}

.loginlogo {
  text-align: center;
  margin-bottom: 20px;
}

.loginlogo img {
  max-width: 30%;
  height: auto;
}

.loginpage {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  position: relative; 
}

.login-form, .signup-form {
  background-color: #2b2b2b;
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; 
  text-align: center;
}

.form-title {
  color: #ff6600;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.submit-button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #e55e00;
}

.submit-button:focus {
  outline: none;
}

.signup-button {
  background-color: #fff; 
  color: #ff6600; 
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #ff6600; 
  color: #fff; 
}


/*  */
#logo
{
  margin-left: 12rem;
}

@media screen and (max-width: 700px){
  #search-bar
  {
    display: none;
  }

  #logo
  {
    align-items: center;
    margin-left: 0;
  }
}

/* Recipe Page Styling */
#menu__toggle {
    opacity: 0;
}
/* #menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
} */
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  top: 5px;
  width: 100%;
  height: 3px;
  background-color: #7DBD42;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#logo
{
  margin-left: 12rem;
}

@media screen and (max-width: 700px){
  #search-bar
  {
    display: none;
  }

  #logo
  {
    align-items: center;
    margin-left: 0;
  }
}


/* MyRecipe css */



.recipeImage{
  width: 100%;
  

}

.recipeImageText{
  text-align: center;
}

.recipeHeader{
  display: flex;
  align-content: space-between;
}

.buttonPos{
  text-align: center;
  padding-top: 25px;
}

#expand{
border-radius: 5px;
}

#expandFav{
  border-radius: 5px;
}




hr{
  padding-top: 50px;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}